.item {
    width: 70%;
    position: relative;
}
.item::before {
    content: "temp";
    display: block;
    padding-top: 75%;
}
.item-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: yellow;
}