div.shadow {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 3px #000000;
  margin: 10px;
  background: #ff0000;
}
p.shadow {
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
}
div.ex {
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px 0px #000000;
  background: #ff0000;
}